body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

#game-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.game {
  background: #222;
  padding: 10px;
  border-radius: 10px;
}

.game img {
  width: 100%;
  border-radius: 5px;
}
